html {
  background: white;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#menu-wrapper{
	background-color: steelblue;
}

#menu-wrapper a{
	color: white;
}

#menu-wrapper li a:hover{
	color: steelblue;
}

#menu-wrapper a{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.uk-grid h4{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.uk-panel-title, table{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

.uk-width-1-1 h2, h3{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

#contentDivKey{
	float: left;
	margin-right: 10px;
}

#contentDivValue{
	float: inherit;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

#fieldName{
    display: inline-block;
}

#fieldType{
    display: inline-block;
}

#fieldName label{
    display: block;
}

#fieldType label{
    display: block;
}
