{% extends "layout.html" %}
{% block body %}
  {% if error %}<div class="uk-alert uk-alert-danger">{{ error }} </div>{% endif %}
  {% if success %}<div class="uk-alert">{{ success }}</div>{% endif %}

  <form class="uk-form" action="{{ url_for('post_record') }}" method="post" id="add-record-form">
      <fieldset>
          <legend>Add Record</legend>
          <div class="uk-form-row">
            <input type="text" name="ID" placeholder="ID">
          </div>
          <div class="uk-form-row">
            <input type="text" name="dataset" placeholder="Dataset">
          </div>
          <div class="uk-form-row">
            <input type="text" name="label" placeholder="Label (Optional)">
          </div>
          <div class="uk-form-row" id="content">

          </div>
          <div class="uk-form-row">
            <button class="uk-button" type="button" onclick="addContentDiv();">Add Content</button>
          </div>
          <div class="uk-form-row">
            <input class="uk-button" type="submit" name="submit" value="Submit">
          </div>
      </fieldset>
  </form>

  <script>

    if (!String.prototype.format) {
      String.prototype.format = function() {
        var args = arguments;
        return this.replace(/{(\d+)}/g, function(match, number) {
          return typeof args[number] != 'undefined'
            ? args[number]
            : match
          ;
        });
      };
    }

    function addContentDiv() {
      var name = window.prompt("Enter name for content-variable:");
      if(name && name.length > 0) {
        addContent(name);
      }
    }

    function addContent(name) {
      var newdiv = document.createElement('div');
      newdiv.innerHTML = "<div class='uk-form-row'><input type='text' name='content-{0}' placeholder='Content - {0}'></div>".format(name);
      console.log(newdiv.innerHTML);
      document.getElementById("content").appendChild(newdiv);
    }
  </script>
{% endblock %}
