{% extends "layout.html" %}
{% block body %}
  {% if error %}
    <div class="uk-alert uk-alert-danger">
      {% if errno %}
        Message : {{ error }} 
        <br> 
        Status : {{errno}}
      {% else %}
        {{ error }}
      {% endif %} 
    </div>
  {% endif %}
  {% if success %}<div class="uk-alert">{{ success }}</div>{% endif %}

  <div id="recordStatus"></div>

  <form class="uk-form" id="add-record-form" onsubmit="client.addRecord('add-record-form', '{{dataset}}'); return false;">
    <fieldset>
        <legend>Add Record</legend>
        <div class="uk-form-row">
          <input type="text" name="RecordID" placeholder="Record ID" autofocus enabled>
        </div>
        <div class="uk-form-row">
          <input type="text" name="RecordLabel" placeholder="Label(optional)">
        </div>
        <div class="uk-form-row" id="addField">
        </div>
        <br>
        <div class="uk-form-row">
          <input type="button" class="uk-button" value="Add Content" onclick="addFieldDiv()"/>
        </div>
        <div class="uk-form-row">
          <button class="uk-button" onclick="">Submit</button>
        </div>
        <!-- Not able to print the select tag multiple times -->
        <script>
          function addFieldDiv(){
            var fieldDiv = document.createElement('div');
            var start = "<div class='uk-form-row'><input type='text' name='content-key' value='' placeholder='Content-Key' autofocus enabled/>";
            start += "<input type='text' name='content-value' value='' placeholder='Content-Value'/>";
            start += "</div>";
            fieldDiv.innerHTML = start;
            document.getElementById("addField").appendChild(fieldDiv);
          }
        </script>
    </fieldset>
  </form>

  <script>
    function addContentDiv(){
      var fieldDiv = document.createElement('div');
      var start = "<div class='uk-form-row'><input type='text' placeholder='Content-Key' value=''>";
      start += "<input type='text' placeholder='Content-Value' value=''>"
      start += "</div>";
      fieldDiv.innerHTML = start;
      document.getElementById("content").appendChild(fieldDiv);
    }
  </script>
  
</form>
{% endblock %}
