{% extends "layout.html" %}
{% block body %}

<div class="uk-grid">

    <div class="uk-width-7-10">
      <ul class="uk-breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="uk-active"><span>Records</span></li>
      </ul>

      <h2 class = "uk-table-hover2">Records</h2>
        <a href="{{ url_for('add_record_page', dataset=dataset) }}"><button id="addRecord" class="uk-button uk-button-primary">Add Record</button></a>
        {% if error %}<div class="uk-alert uk-alert-danger">{{ error }} </div>{% endif %}
    </div>
    
    <div class="uk-width-3-10">
      <h3>Showing records {{skip}} - {{skip+limit}}</h3>
      <p>Show <a onclick="newPage(10)">10</a> / <a onclick="newPage(50)">50</a> /<a onclick="newPage(100)"> 100</a> /<a onclick="newPage(500)"> 500</a> records per page</p>

      <select id="page">
        <option selected="true" disabled="disabled">Choose Page</option>    
        <script> 
          function newPage(limit){
            window.location="/records/{{dataset}}/{{skip}}/"+limit;
          }
          for(var i=0;i<{{totalRecords}};i+={{limit}}){
              document.write("<option value = "+ i +" >"+Math.round(i/{{limit}} , 1)+"</option>");
          }
          $('#page').change(function() {
            var skip = $(this).val();
            window.location="/records/{{dataset}}/"+skip+"/{{limit}}";
          });
        </script>
      </select>
    </div>
  </div>

  <div class="uk-grid" data-uk-grid-margin>
    <div class="uk-row">
      <div id="labelNameStatus">
      </div>
    </div>
  </div>
  <table class="uk-table uk-table-hover uk-table-striped">
    <tr>
      <th>ID</th>
      <th>Label</th>
      <th>Edit/View</th>
      <th>Delete</th>
    </tr>
    {% for record in records %}
      <tr>
        <td>{{record.id}}</td>

        {% if record.label %}
          <td class="uk-text-bold">{{record.label}}</id>
        {% else %}
          <td id = "label-name-td" class="uk-text-muted"><button class="uk-button uk-button-success" data-uk-modal="{target:'#addLabel{{record.id}}'}" type="button">Add Label</button></td>
        {% endif %}

        <td><button class="uk-button uk-button-primary" data-uk-modal="{target:'#editRecord{{record.id}}'}" type="button">Edit</button></td>
        <td><button class="uk-button uk-button-danger" data-uk-modal="{target:'#deleteRecord{{record.id}}'}" type="button">Delete</button></td>
      </tr>
    {% endfor %}
  </table>

  <!-- divison of modal to edit the label name -->
  {% for record in records %}
    <form class="uk-form" id="add-label-value-{{record.id}}" onclick="client.addLabelValue('add-label-value-{{record.id}}', '{{ dataset }}', '{{ record.id }}'); return false;">
      <div id="label-value">
        <div id="addLabel{{record.id}}" class="uk-modal">
          <div class="uk-modal-dialog">
            <a class="uk-close uk-close-alt uk-modal-close"></a>
            <div id="labelResult">
            </div>
            <form class="uk-form">
              <legend>Enter the Label Name</legend>
              <input id="label-name" type="text" name="newLabelName" placeholder="label name" autofocus>
              <button id="add-label-btn" class="uk-button uk-button-primary uk-modal-close">Submit</button>
            </form>
        </div>
      </div>
      </div>
    </form>
  {% endfor %}

  <!-- divison of modal to delete a record -->
  {% for record in records %}
    <div id="deleteRecord{{record.id}}" class="uk-modal">
      <div class="uk-modal-dialog">
          <a class="uk-close uk-close-alt uk-modal-close"></a>
          <form class="uk-form">
            <legend>Are you sure to delete {{record.id}}?</legend>
            <button onclick="client.removeRecord('{{record.id}}', '{{record.label}}', '{{dataset}}', 'skip', 'limit')" class="uk-button uk-button-success uk-modal-close">Yes</button>
            <button class="uk-button uk-button-danger uk-modal-close">No</button>
          </form>
      </div>
    </div>
  {% endfor %}

  <!-- divison of modal to edit a record -->
  {% for record in records%}  
    <div id="editRecord{{record.id}}" class="uk-modal">
      <div class="uk-modal-dialog">
          <a class="uk-close uk-close-alt uk-modal-close"></a>
          <form class="uk-form" id="add-record-form" onsubmit="client.addRecord('add-record-form', '{{dataset}}'); return false;">
            <fieldset>
                <legend>Edit Record {{record.id}}</legend>
                <div class="uk-form-row">
                  <input type="text" name="RecordID" placeholder="Record ID" value="{{record.id}}">
                </div>
                <div class="uk-form-row">
                  <input type="text" name="RecordLabel" placeholder="Label(optional)" value="{{record.label}}">
                </div>
                <div class="uk-form-row">
                  {% if record.content %}
                    {% for key, values in record.content.iteritems() %}
                      <div class="uk-form-row">
                        <input type='text' name='content-key' value={{key}} placeholder='Content-Key : {{key}}'>
                        <input type='text' name='content-value' value={{values}} placeholder='Content-Value : {{value}}'>
                      </div>
                    {% endfor %}
                  {% endif %}
                </div>
                <br>
                <div class="uk-form-row">
                  <button class="uk-button" onclick="">Submit</button>
                </div>
                </script>
            </fieldset>
          </form>
      </div>
    </div>
  {% endfor %} 

  <div>
    <a href="#0" class="cd-top">Top</a>
    <script>
      jQuery(document).ready(function($){
        var offset = 300,
        offset_opacity = 1200,
        scroll_top_duration = 700,
        $back_to_top = $('.cd-top');

        $(window).scroll(function(){
          ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
          if( $(this).scrollTop() > offset_opacity ) { 
            $back_to_top.addClass('cd-fade-out');
          }
        });

        //smooth scroll to top
        $back_to_top.on('click', function(event){
          event.preventDefault();
          $('body,html').animate({
            scrollTop: 0 ,
            }, scroll_top_duration
          );
        });
      });


      jQuery('#cody-info ul li').eq(1).on('click', function(){
        $('#cody-info').hide();
      });
    </script>
  </div>
  <!-- select dropdown to display the selected records -->
    <select id="pagination">
      <option selected="true" disabled="disabled">Choose Page</option>        
      <script> 
        for(var i=0;i<{{totalRecords}};i+={{limit}}){
            document.write("<option value = "+ i +" >"+Math.round(i/{{limit}} , 1)+"</option>");
        }
        $('#pagination').change(function() {
          var skip = $(this).val();
          console.log(skip);
          window.location="/records/{{dataset}}/"+skip+"/{{limit}}";
        });
      </script>
    </select>
  </div>  
  
{% endblock %}
