{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script> 
  <script src="{{ url_for('static', filename='js/nv.d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>

  <script>
    
    // rendering pie chart
    var barChartData = [{
      key : "Dataset stats",
      values : [
        {% for stat in stats %}
          {
            {% if stat.label %}
              label : "{{stat.label}}"
            {% else %}
              label : "Unlabelled"
            {% endif %}  
            ,
            value : {{stat.numberOfRecords}}
          },
        {% endfor %}
      ]
    }];
    renderBarChart(barChartData, '#barChartSVG'); // function to render bar chart and data as the parameters

    // rendering bar chart
    var pieChartData = [
          {% for stat in stats %}
            {
              // if else condition to check whether the label is empty or not
              {% if stat.label %}
                label : "{{stat.label}}"
              {% else %}
                label : "Unlabelled"
              {% endif %}  
              ,
              value : {{ stat.numberOfRecords }}
            },
          {% endfor %}
      ];
      renderPieChart(pieChartData, "#pieChartSVG");
      renderLinePlot('#simpleLinePlotSVG');
      renderScatterPlot('#scatterPlotSVG');
  </script>

  <!-- bar chart divison -->
  <div id="barChart">
    <div id="barChartSVG">
      <svg></svg> 
    </div>
  </div>
  <br>

  <!-- pie chart divison -->
  <div id="pieChart">
    <div id="pieChartSVG">
      <svg></svg>
    </div>
  </div> 

  <div id="simpleLinePlot">
    <div id="simpleLinePlotSVG">
      <svg></svg>
    </div>
  </div> 

  <div id="scatterPlot">
    <div id="scatterPlotSVG">
      <svg></svg>
    </div>
  </div> 

  </script>
  <style>
    #pieChartSVG, #barChartSVG svg, #simpleLinePlotSVG, #scatterPlotSVG {
      height: 400px;
    }
    #pieChart{
      display: hidden;
    }
  </style>
{% endblock %}
