{% extends "layout.html" %}
{% block body %}
  <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-1-1">
          <h1 class="uk-heading-large">Datasets</h1>
          <h2> Found {{ stats|length }} datasets </h2>
          <p class="uk-text-large">Click on a dataset to view more information</p><br>
      </div>
  </div>


  <script>
    var data = [{
      key : "Dataset stats",
      values : [
        {% for stat in stats %}
            {
                label : "{{ stat.dataset}}",
                value : {{ stat.numberOfRecords }}
            },
        {% endfor %}
      ]
    }];
    //console.log(data);
    render_bar_chart(data); // function to render bar chart and data as the parameter
  </script>

  <!-- Group in 3 items-->
  {% for stat_chunk in stat_chunks %}
    <div class="uk-grid">
      {% for stat in stat_chunk %}
      <div class="uk-width-1-3">
        <h4>Dataset Name: {{ stat.dataset }}</h4> <h4>Number of records: {{ stat.numberOfRecords }}</h4><br>      
      </div>
      {% endfor %}
    </div>
  {% endfor %}
  <div> <!-- divison for rendering the bar chart -->
    <style>
      #chart svg {
        height: 450px;
      }
    </style>

    <div id="chart">
      <svg></svg>
    </div>
  </div>
{% endblock %}
