{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script> 
  <script src="{{ url_for('static', filename='js/nv.d3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/charts.js') }}"></script>

  <div class="uk-grid" data-uk-grid-margin>
      <div class="uk-width-1-1">
          <h2>Datasets</h2>
          <h2> Found {{ stats|length }} datasets </h2>
      </div>
  </div>

  <!-- javascript to convert the incoming data to JSON format -->
  <script>
    var data = [{
      key : "Dataset stats",
      values : [
        {% for stat in stats %}
            {
                label : "{{ stat.dataset}}",
                value : {{ stat.numberOfRecords }}
            },
        {% endfor %}
      ]
    }];
    renderScatterPlot(data, '#barChartSVG'); // function to render bar chart and data as the parameter
  </script>

  <!-- divison for rendering the bar chart -->
  <div> 
    <style>
      #barChartSVG svg {
        height: 400px;
      }
    </style>

    <div id="barChartSVG">
      <svg></svg>
    </div>
  </div>
{% endblock %}
